# Task-03

# Import Libraries

In [133]:
import pandas as pd 
from datetime import datetime

# Import the data

In [134]:
data = pd.read_csv(r"C:\Users\Aditya Dixit\Desktop\Writing works\PYTHON PRACTICE\Resolute AI task\Task3\data.csv")

# Basic EDA & Cleaning

In [135]:
data

,date,time,sensor,location,number,activity,position,location.1
0,1-16-2024,10:10:30 AM,0.0,A1,1,placed,inside,A1
1,1-16-2024,10:12:30 AM,1.0,A2,1,picked,inside,A2
2,1-16-2024,10:28:30 AM,1.0,A3,1,picked,Inside,A3
3,1-16-2024,10:38:20 AM,0.0,A4,1,placed,Inside,A4
4,1-16-2024,10:45:20 AM,1.0,A5,1,placed,inside,A5
...,...,...,...,...,...,...,...,...
170,1-18-2024,12:45:05 PM,0.0,A8,2,placed,inside,A8
171,1-18-2024,12:53:10 PM,1.0,A9,2,picked,inside,A9
172,1-18-2024,12:59:10 PM,1.0,A10,2,placed,outside,A10
173,1-18-2024,1:10:20 PM,1.0,A11,2,picked,Inside,A11
174,1-18-2024,1:18:30 PM,0.0,A12,2,placed,inside,A12

In [136]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        175 non-null    object
 1   time        175 non-null    object
 2   sensor      174 non-null    float64
 3   location    175 non-null    object
 4   number      175 non-null    int64
 5   activity    175 non-null    object
 6   position    175 non-null    object
 7   location.1  175 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 11.1+ KB

In [137]:
data.describe()

           sensor      number
count  174.000000  175.000000
mean     0.511494    1.165714
std      0.501310    0.372891
min      0.000000    1.000000
25%      0.000000    1.000000
50%      1.000000    1.000000
75%      1.000000    1.000000
max      1.000000    2.000000

In [138]:
# Convert the 'date' column to datetime format with the original format
data['date'] = pd.to_datetime(data['date'], format= "%m-%d-%Y")

# Convert the 'date' column back to string with the desired format
data['date'] = data['date'].dt.strftime('%d-%m-%Y')

data['date'] # Updated the date column to dd-mm-yyyy format

0      16-01-2024
1      16-01-2024
2      16-01-2024
3      16-01-2024
4      16-01-2024
          ...
170    18-01-2024
171    18-01-2024
172    18-01-2024
173    18-01-2024
174    18-01-2024
Name: date, Length: 175, dtype: object

In [139]:
# Replace the correct value, if required

data['position'] = data['position'].replace('Inside','inside')

In [140]:
# Change the time format from string

data['time'] = data['time'].apply(lambda x: datetime.strptime(x, '%H:%M:%S %p').time())

In [141]:
type(data['time'][0])

datetime.time

# Get the specific values to be shown in output

In [142]:
# Get all the unique dates
dates = set(data['date'])
print("Unique Date=",sorted(dates))

# Get the unique activities
activity = set(data['activity'])
print("Unique Activities=",activity)

# Get the unique positions
positions = set(data['position'])
print("Unique Positions=",positions)

Unique Date= ['16-01-2024', '17-01-2024', '18-01-2024']
Unique Activities= {'placed', 'picked'}
Unique Positions= {'inside', 'outside'}

In [109]:
# # Get the counts of each Date
# no_of_dates = {}

# for date in dates:
    
#     date1 = data[data['date'] == date].shape[0]

#     no_of_dates[date] = date1  

# no_of_dates

In [143]:
# Get the counts of each activity
datewise_activity = {}
for d in dates:
    activity_count = {}  

    for act in activity:
        act_count = data[(data['date'] == d) & (data['activity'] == act)].shape[0]
        activity_count[act] = act_count

    datewise_activity[d] = activity_count

# Get the list of activity
pick = []
place = []

for d in datewise_activity:

    pick.append((datewise_activity[d])['picked'])
    place.append((datewise_activity[d])['placed'])

print(pick)
print(place)

[37, 10, 40]
[39, 9, 40]

In [150]:
# Get the duration

data_16 = data[data['date'] == "16-01-2024"]

data_17 = data[data['date'] == "17-01-2024"]

data_18 = data[data['date'] == "18-01-2024"]

inside_duration = []
outside_duration = []

for p in positions:

    if p == "inside":
    # Find the maximum and minimum time values
        inside_max = max(data_16['time'])
        inside_min = min(data_16['time'])
    # Convert time objects to datetime objects for subtraction
        inside_max_dt = datetime.combine(datetime.today(), inside_max)
        inside_min_dt = datetime.combine(datetime.today(), inside_min)
    # Calculate the time difference
        inside_diff = inside_max_dt - inside_min_dt
        inside_duration.append(inside_diff)
        
    # Find the maximum and minimum time values
        inside_max = max(data_17['time'])
        inside_min = min(data_17['time'])
    # Convert time objects to datetime objects for subtraction
        inside_max_dt = datetime.combine(datetime.today(), inside_max)
        inside_min_dt = datetime.combine(datetime.today(), inside_min)
    # Calculate the time difference
        inside_diff = inside_max_dt - inside_min_dt
        inside_duration.append(inside_diff)

    # Find the maximum and minimum time values
        inside_max = max(data_18['time'])
        inside_min = min(data_18['time'])
    # Convert time objects to datetime objects for subtraction
        inside_max_dt = datetime.combine(datetime.today(), inside_max)
        inside_min_dt = datetime.combine(datetime.today(), inside_min)
    # Calculate the time difference
        inside_diff = inside_max_dt - inside_min_dt
        inside_duration.append(inside_diff)

    elif p == 'outside':
    # Find the maximum and minimum time values
        outside_max = max(data_16['time'])
        outside_min = min(data_16['time'])
    # Convert time objects to datetime objects for subtraction
        outside_max_dt = datetime.combine(datetime.today(), outside_max)
        outside_min_dt = datetime.combine(datetime.today(), outside_min)
    # Calculate the time difference
        outside_diff = outside_max_dt - outside_min_dt
        outside_duration.append(outside_diff)

    # Find the maximum and minimum time values
        outside_max = max(data_17['time'])
        outside_min = min(data_17['time'])
    # Convert time objects to datetime objects for subtraction
        outside_max_dt = datetime.combine(datetime.today(), outside_max)
        outside_min_dt = datetime.combine(datetime.today(), outside_min)
    # Calculate the time difference
        outside_diff = outside_max_dt - outside_min_dt
        outside_duration.append(outside_diff)

    # Find the maximum and minimum time values
        outside_max = max(data_18['time'])
        outside_min = min(data_18['time'])
    # Convert time objects to datetime objects for subtraction
        outside_max_dt = datetime.combine(datetime.today(), outside_max)
        outside_min_dt = datetime.combine(datetime.today(), outside_min)
    # Calculate the time difference
        outside_diff = outside_max_dt - outside_min_dt
        outside_duration.append(outside_diff)
                
    else:
        print("Error")

inside_duration = [str(timedelta) for timedelta in inside_duration]
outside_duration = [str(timedelta) for timedelta in outside_duration]

In [151]:
inside_duration

['11:59:00', '11:12:00', '11:48:50']

In [152]:
outside_duration

['11:59:00', '11:12:00', '11:48:50']

# Final required output

In [153]:
output = {'date':sorted(dates), 'pick_activities':pick, 'place_activities':place, 'inside_duration':inside_duration, 'outside_duration':outside_duration}

In [154]:
output = pd.DataFrame(output)

In [155]:
output

,date,pick_activities,place_activities,inside_duration,outside_duration
0,16-01-2024,37,39,11:59:00,11:59:00
1,17-01-2024,10,9,11:12:00,11:12:00
2,18-01-2024,40,40,11:48:50,11:48:50