# Task-03

# Import Libraries

In [1]:
import pandas as pd 
from datetime import datetime

# Import the data

In [2]:
data = pd.read_csv(r"C:\Users\Aditya Dixit\Desktop\Writing works\PYTHON PRACTICE\Resolute AI task\Task3\data.csv")

# Basic EDA & Cleaning

In [3]:
data

,date,time,sensor,location,number,activity,position,location.1
0,1-16-2024,10:10:30 AM,0.0,A1,1,placed,inside,A1
1,1-16-2024,10:12:30 AM,1.0,A2,1,picked,inside,A2
2,1-16-2024,10:28:30 AM,1.0,A3,1,picked,Inside,A3
3,1-16-2024,10:38:20 AM,0.0,A4,1,placed,Inside,A4
4,1-16-2024,10:45:20 AM,1.0,A5,1,placed,inside,A5
...,...,...,...,...,...,...,...,...
170,1-18-2024,12:45:05 PM,0.0,A8,2,placed,inside,A8
171,1-18-2024,12:53:10 PM,1.0,A9,2,picked,inside,A9
172,1-18-2024,12:59:10 PM,1.0,A10,2,placed,outside,A10
173,1-18-2024,1:10:20 PM,1.0,A11,2,picked,Inside,A11
174,1-18-2024,1:18:30 PM,0.0,A12,2,placed,inside,A12

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        175 non-null    object
 1   time        175 non-null    object
 2   sensor      174 non-null    float64
 3   location    175 non-null    object
 4   number      175 non-null    int64
 5   activity    175 non-null    object
 6   position    175 non-null    object
 7   location.1  175 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 11.1+ KB

In [5]:
data.describe()

           sensor      number
count  174.000000  175.000000
mean     0.511494    1.165714
std      0.501310    0.372891
min      0.000000    1.000000
25%      0.000000    1.000000
50%      1.000000    1.000000
75%      1.000000    1.000000
max      1.000000    2.000000

In [6]:
# Convert the 'date' column to datetime format with the original format
data['date'] = pd.to_datetime(data['date'], format= "%m-%d-%Y")

# Convert the 'date' column back to string with the desired format
data['date'] = data['date'].dt.strftime('%d-%m-%Y')

data['date'] # Updated the date column to dd-mm-yyyy format

0      16-01-2024
1      16-01-2024
2      16-01-2024
3      16-01-2024
4      16-01-2024
          ...
170    18-01-2024
171    18-01-2024
172    18-01-2024
173    18-01-2024
174    18-01-2024
Name: date, Length: 175, dtype: object

In [7]:
# Replace the correct value, if required

data['position'] = data['position'].replace('Inside','inside')

In [8]:
# Change the time format from string

data['time'] = data['time'].apply(lambda x: datetime.strptime(x, '%H:%M:%S %p').time())

In [9]:
type(data['time'][0])

datetime.time

# Get the specific values to be shown in output

In [10]:
# Get all the unique dates
dates = set(data['date'])
print("Unique Date=",sorted(dates))

# Get the unique activities
activity = set(data['activity'])
print("Unique Activities=",activity)

# Get the unique positions
positions = set(data['position'])
print("Unique Positions=",positions)

Unique Date= ['16-01-2024', '17-01-2024', '18-01-2024']
Unique Activities= {'placed', 'picked'}
Unique Positions= {'inside', 'outside'}

In [62]:
# # Get the counts of each Date
no_of_dates = {}

for date in dates:
    
    date1 = data[data['date'] == date].shape[0]

    no_of_dates[date] = date1  

no_of_dates

{'18-01-2024': 76, '16-01-2024': 80, '17-01-2024': 19}

In [12]:
# Get the counts of each activity
datewise_activity = {}
for d in dates:
    activity_count = {}  

    for act in activity:
        act_count = data[(data['date'] == d) & (data['activity'] == act)].shape[0]
        activity_count[act] = act_count

    datewise_activity[d] = activity_count

# Get the list of activity
pick = []
place = []

for d in datewise_activity:

    pick.append((datewise_activity[d])['picked'])
    place.append((datewise_activity[d])['placed'])

print(pick)
print(place)

[37, 40, 10]
[39, 40, 9]

In [29]:
data_16_in = data[(data['date'] == "16-01-2024") & (data['position'] == 'inside')]
data_16_out = data[(data['date'] == "16-01-2024") & (data['position'] == 'outside')]

data_17_in = data[(data['date'] == "17-01-2024") & (data['position'] == 'inside')]
data_17_out = data[(data['date'] == "17-01-2024") & (data['position'] == 'outside')]

data_18_in = data[(data['date'] == "18-01-2024") & (data['position'] == 'inside')]
data_18_out = data[(data['date'] == "18-01-2024") & (data['position'] == 'outside')]

In [31]:
data_16_in.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 0 to 79
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        80 non-null     object
 1   time        80 non-null     object
 2   sensor      80 non-null     float64
 3   location    80 non-null     object
 4   number      80 non-null     int64
 5   activity    80 non-null     object
 6   position    80 non-null     object
 7   location.1  80 non-null     object
dtypes: float64(1), int64(1), object(6)
memory usage: 5.6+ KB

In [32]:
data_16_out.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        0 non-null      object
 1   time        0 non-null      object
 2   sensor      0 non-null      float64
 3   location    0 non-null      object
 4   number      0 non-null      int64
 5   activity    0 non-null      object
 6   position    0 non-null      object
 7   location.1  0 non-null      object
dtypes: float64(1), int64(1), object(6)
memory usage: 0.0+ bytes

In [33]:
data_17_in.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19 entries, 80 to 98
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        19 non-null     object
 1   time        19 non-null     object
 2   sensor      19 non-null     float64
 3   location    19 non-null     object
 4   number      19 non-null     int64
 5   activity    19 non-null     object
 6   position    19 non-null     object
 7   location.1  19 non-null     object
dtypes: float64(1), int64(1), object(6)
memory usage: 1.3+ KB

In [34]:
data_17_out.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        0 non-null      object
 1   time        0 non-null      object
 2   sensor      0 non-null      float64
 3   location    0 non-null      object
 4   number      0 non-null      int64
 5   activity    0 non-null      object
 6   position    0 non-null      object
 7   location.1  0 non-null      object
dtypes: float64(1), int64(1), object(6)
memory usage: 0.0+ bytes

In [35]:
data_18_in.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72 entries, 99 to 174
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        72 non-null     object
 1   time        72 non-null     object
 2   sensor      71 non-null     float64
 3   location    72 non-null     object
 4   number      72 non-null     int64
 5   activity    72 non-null     object
 6   position    72 non-null     object
 7   location.1  72 non-null     object
dtypes: float64(1), int64(1), object(6)
memory usage: 5.1+ KB

In [36]:
data_18_out.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 125 to 172
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        4 non-null      object
 1   time        4 non-null      object
 2   sensor      4 non-null      float64
 3   location    4 non-null      object
 4   number      4 non-null      int64
 5   activity    4 non-null      object
 6   position    4 non-null      object
 7   location.1  4 non-null      object
dtypes: float64(1), int64(1), object(6)
memory usage: 288.0+ bytes

In [54]:
# Get the duration

inside_duration = []
outside_duration = []

# 16 - inside
# Find the maximum and minimum time values
inside_max = max(data_16_in['time'])
inside_min = min(data_16_in['time'])
# Convert time objects to datetime objects for subtraction
inside_max_dt = datetime.combine(datetime.today(), inside_max)
inside_min_dt = datetime.combine(datetime.today(), inside_min)
# Calculate the time difference
inside_diff = inside_max_dt - inside_min_dt
inside_duration.append(inside_diff)

# 16 - out
outside_duration.append(0)

# 17 - inside
# Find the maximum and minimum time values
inside_max1 = max(data_17_in['time'])
inside_min1 = min(data_17_in['time'])
# Convert time objects to datetime objects for subtraction
inside_max_dt1 = datetime.combine(datetime.today(), inside_max1)
inside_min_dt1 = datetime.combine(datetime.today(), inside_min1)
# Calculate the time difference
inside_diff1 = inside_max_dt1 - inside_min_dt1
inside_duration.append(inside_diff1)

# 17 - out
outside_duration.append(0)

# 18 - in
# Find the maximum and minimum time values
inside_max2 = max(data_18_in['time'])
inside_min2 = min(data_18_in['time'])
# Convert time objects to datetime objects for subtraction
inside_max_dt2 = datetime.combine(datetime.today(), inside_max2)
inside_min_dt2 = datetime.combine(datetime.today(), inside_min2)
# Calculate the time difference
inside_diff2 = inside_max_dt2 - inside_min_dt2
inside_duration.append(inside_diff2)

# 18 - out
# Find the maximum and minimum time values
outside_max2 = max(data_18_out['time'])
outside_min2 = min(data_18_out['time'])
# Convert time objects to datetime objects for subtraction
outside_max_dt2 = datetime.combine(datetime.today(), outside_max2)
outside_min_dt2 = datetime.combine(datetime.today(), outside_min2)
# Calculate the time difference
outside_diff2 = outside_max_dt2 - outside_min_dt2
outside_duration.append(outside_diff2)

In [55]:
inside_duration = [str(timedelta) for timedelta in inside_duration]
outside_duration = [str(timedelta) for timedelta in outside_duration]

In [56]:
inside_duration

['11:59:00', '11:12:00', '11:42:50']

In [57]:
outside_duration

['0', '0', '10:10:50']

# Final required output

In [58]:
output = {'date':sorted(dates), 'pick_activities':pick, 'place_activities':place, 'inside_duration':inside_duration, 'outside_duration':outside_duration}

In [59]:
output = pd.DataFrame(output)

In [60]:
output

,date,pick_activities,place_activities,inside_duration,outside_duration
0,16-01-2024,37,39,11:59:00,0
1,17-01-2024,40,40,11:12:00,0
2,18-01-2024,10,9,11:42:50,10:10:50

# Export the output as a CSV

In [61]:
output.to_csv('output.csv', index=False)